/* Navbar.css */

.flex_center {
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 body {
     margin: 0;
     padding: 0;
 }
 
 @keyframes underlineAnimation {
     0% {
         width: 0;
     }
     100% {
         width: 100%;
     }
 }
 
 .hoverEffect {
     position: relative;
 }
 
 .hoverEffect:hover::after {
     content: '';
     position: absolute;
     bottom: 0;
     left: 0;
     width: 0; /* Start with no underline */
     height: 5px;
     background-color: #9F70FD;
     animation: underlineAnimation 0.3s forwards; /* Animation duration and timing */
 }
 